nav{
    grid-column: 1/13;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border: var(--border-section);
    height: 80px;
}

nav img{
    grid-column: 6 / 8;
    max-width: 100%;
    object-fit: contain;
}

nav ul{
    grid-column: 9/13;

}

nav ul li{
    display: inline-block;
    border: var(--border-section);
}