@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
/* maybe */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Gentium Basic', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
:root {
    /* margins */
    /* 320px -> 1680px */
    /* 19px -> 300px */
    /* --margin: clamp(1.188rem, -3.2384rem + 22.1318vw, 20rem); */
    --maxwidth: 940px;
    --padding: 4%;
    /* border */
    --show: 0px;
    --border: var(--show) solid #ff4ee292;
    --border-section: var(--show) solid #ffc3f5;
    /* colors */
    --color-white: rgba(255, 255, 255, 0.85);
    --color-white-decor: rgba(255, 255, 255, 0.63);
    --bg: #FFFF;
    /* services decor */
    --services-card-res: rgba(4, 38, 15, 0.3);
    --treatments-card-res: rgba(38, 35, 4, 0.3);
    --color-white-decor--card: rgba(255, 255, 255, 0.25);
    --border-card: 1px solid rgba(205, 205, 205, 0.2);
    /* color palette */
    --color-opacity: 0.22;
    --color01: rgba(2, 81, 89, 0.3);
    --color02: rgba(2, 115, 115, 0.3);
    --color03: rgba(2, 115, 104, 0.3);
    --color04: rgba(166, 156, 18, var(--color-opacity));
    --color05: rgba(140, 117, 3, var(--color-opacity));
    /* svg colors */
    --svg-clr: rgb(9, 225, 249);
}
@media screen and (max-width: 550px) {
    :root {
        --padding: 4%;
    }
}
body{
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('/css/img/background.jpg'); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(161.69deg, #015159 20.9%, #019788 100%);    grid-template-columns: auto;
    grid-template-rows: auto;
    background-attachment: fixed;
}
/* animation */
.diss{
    display: none;
}
/* Principal Titles */
h1{
    color: var(--color-white-decor);
    font-weight: 900;
    font-family: 'Gentium Basic', serif;
    font-size: clamp(2rem, 1.0710rem + 4.6452vw, 3.8rem);
    letter-spacing: clamp(0rem, -0.1935rem + 0.9677vw, 0.375rem);
    /* CLAMP 940px*/
    /* font-size: 3.8rem; */
    /* font-size: clamp(2rem, 1.4941rem + 2.5294vw, 4.15rem); */
    /* CLAMP 1680px*/
    /* font-size: 4.15rem; */
    /* letter-spacing: 6px; */
    /* CLAMP 320px*/
    /* font-size: 2rem; */
    /* letter-spacing: 4px; */
    text-transform: uppercase;
    text-align: center;
}
p{
    color: var(--color-white);
    font-family: 'Gentium Basic', serif;
    font-size: clamp(1.063rem, 1.0026rem + 0.3019vw, 1.18rem);
    /* CLAMP 940px*/
    /* font-size: 1.18rem; */
    /* font-size: clamp(1.063rem, 1.0190rem + 0.2200vw, 1.25rem); */
    /* CLAMP 1680px*/
    /* font-size: 1.25rem; */
    /* CLAMP 320px*/
    /* font-size: 1.063rem; */
    font-weight: 300;
    border: var(--border);
}
.card_testimonials>p{
    font-size: clamp(1rem, 0.9706rem + 0.1471vw, 1.125rem);
    letter-spacing: 0.2px;
    /* CLAMP 940px*/

    /* CLAMP 1680px*/
    /* font-size: 1.125rem; */
    /* CLAMP 320px*/
    /* font-size: 1rem; */
}
.card_testimonials>h3{
    font-size: clamp(1.063rem, 1.0190rem + 0.2200vw, 1.25rem);
    /* CLAMP 1680px*/
    /* font-size: 1.25rem; */
    /* CLAMP 320px*/
    /* font-size: 1.063rem; */
}
p1{
    display: block;
    color: var(--color-white);
    font-family: 'Gentium Basic', serif;
    font-size: 1rem;
    /* font-size: clamp(1.063rem, 1.0026rem + 0.3019vw, 1.18rem); */
    letter-spacing: 0.5px;
    /* CLAMP 940px*/
    /* font-size: 1.18rem; */
    /* font-size: clamp(1.063rem, 1.0190rem + 0.2200vw, 1.25rem);     */
    /* CLAMP 1680px*/
    /* font-size: 1.25rem; */
    /* CLAMP 320px*/
    /* font-size: 1.063rem; */
    font-weight: 200; 
    margin-top: 1%;
    margin-bottom: 1%;
    border: var(--border);
}

/* tittles cards */
h3{
    color: var(--color-white);
    font-family: 'Gentium Basic', serif;
    font-size: clamp(1.125rem, 0.9635rem + 0.8077vw, 1.438rem);
    letter-spacing: 2px;
    /* CLAMP 940px*/
    /* font-size: clamp(1.125rem, 1.0514rem + 0.3682vw, 1.438rem); */
    /* CLAMP 1680px*/
    /* font-size: 1.438rem; */
    /* CLAMP 320px*/
    /* font-size: 1.125rem; */
    font-weight: 700;
    text-transform: uppercase;
    padding: 0%;
    margin-bottom: 0.2rem !important;
    border: var(--border);
}
h6{
    /* to be clamped */
    color: var(--color-white);
    font-family: 'La Belle Aurore', cursive;
    font-size: clamp(1.875rem, 1.6985rem + 0.8824vw, 2.625rem);    /* CLAMP 1680px*/
    /* CLAMP 1680px*/
    /* font-size: 2.625rem; */
    /* CLAMP 320px*/
    /* font-size: 1.875rem; */
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;
    margin-top: 0%;
    margin-bottom: auto;
}
.slide_1>h6{
    font-size: clamp(3.125rem, 2.2426rem + 4.4118vw, 6.875rem);
    /* CLAMP 1680px*/
    /* font-size: 6.875rem; */
    /* CLAMP 320px*/
    /* font-size: 3.125rem; */
    margin: 0%;
}

a1, button{
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Gentium Basic', serif;
    /* CLAMP 1680px*/
    font-size: 1.125rem;
    /* CLAMP 375px*/
    /* font-size: 16px; */
    /* font-size: 16px; */
    border-radius: 14px;
    padding: 2% 4%;
    /* CLAMP */
    background: var(--color05);
    text-align: center;
    cursor: pointer;
    border: var(--border-card);
}
a1:hover{
    background: var(--color04);
}

/* Displaying */
main{
    grid-column: 1 / -1;
    grid-row: 1;
    height: 100vh;
    position: relative;
    min-height: 500px;
    /* bg */
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('/css/img/background.jpg');
    background-position: 100% 30%;
    background-size: cover;
    /* positioning */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: var(--border);

}
.logo{
    background-image: url(/css/img/StyleBjonasLogoFei.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: relative;
    height: 80px;
    margin-top: 2%;
}
main img{
    min-width: 180px;
    display: flex;
    margin: 5% auto 0%;
    border: var(--border);
    flex: 0;
}
main a{
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    /*center vertically*/
    position: relative;
    top: 50%;
    transform: translateY(-20%);
    
}

/* main a h2{
    display: block;
    background:  rgba(140, 116, 23, 0.57);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);
    border-radius: 60px;
    width: fit-content;
    height: fit-content;
    padding: 5% 10%;
    text-align: center;
    border: linear-gradient(96.41deg, #B69D40 0%, rgba(57, 76, 78, 0.5) 100%);
} */
.season_promotions{
    grid-column: 2/12;
    grid-row: 5;

    display: grid;
    grid-template-columns: var(--margin) 1fr 1fr 1fr var(--margin);
    grid-template-rows: auto;
    
    height: auto;
    min-height: auto;
    max-width: var(--maxwidth);

    margin: 0% auto 5% auto;
    border: var(--border);
}
.season_promotions>h1{
    text-align: center;
    margin: 0%;
    padding: 10% var(--padding) 5% var(--padding);
    border: var(--border);
}
.promotions_wrapper{
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 5%;
    scroll-snap-type: x mandatory;  
    scroll-padding: 0 0 0 var(--padding);

    border: var(--border);

    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.promotions_wrapper::-webkit-scrollbar {
    display: none;
}
.card{
    display: flex;
    flex-direction: column;
    flex: 1 0 80%;

    scroll-snap-align: start;
    scroll-snap-stop: normal;


    padding: 5%;
    margin-right: 5%;

    text-align: center;
    background: var(--color05);
    border-radius: 30px;
    border: 1px solid var(--color-white-decor--card);  
}

.card:first-child{
    margin-left: var(--padding);
}
.card_img_flam, .card_img_rehab, .card_img_kera{
    height: 10rem;
    border: var(--border);
    background: var(--color03);
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    margin-bottom: 3%;
}
.card_img_flam{
    background-image: url('/css/svg/balayage.svg');
}
.card_img_rehab{
    background-image: url('/css/svg/rehab.svg');
}
.card_img_kera{
    background-image: url('/css/svg/keratina.svg');
}
@media screen and (max-width: 550px) {
}
/* work time */
.wt_bg{
    background: rgba(0, 0, 0, 0.6);
    border-top: var(--border-card);
    border-bottom: var(--border-card);
}
.worktime{
    display: grid;
    grid-column: 1/-1;
    max-width: var(--maxwidth);
    padding: clamp(90px,15%,130px) var(--padding);
    margin: 0% auto;
    grid-row: 4;
    /* template */
    grid-template-columns: 50% 50%;
    height: auto;
    /* decor */
    border: var(--border);
}
.worktime h3{
    text-align: left;
    margin-bottom: 1%;
}
.worktime p{
    text-align: left;
}
.worktime>article:first-child{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin: auto 0% auto 0%;
    padding-right: 5%;
    border-right: 1px solid var(--color-white-decor--card);
}
.worktime>article:first-child>h1{
    text-align: right;
}
.worktime>article:first-child>article{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 3%;
    border: var(--border);
}
.worktime>article:last-child{
    grid-column: 2;
    display: flex;
    justify-content: start;
    padding-left: 5%;
    border: var(--border);
}
.worktime>article:last-child>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 550px) {
    .worktime{
        /* template */
        grid-template-columns: 1fr;
    }
    .worktime>article:first-child{
        grid-row: 1;
        grid-column: 1/-1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0%;
        margin: auto auto 4% auto;
        border-right: none;
        border: var(--border);
    }
    .worktime>article:first-child>h1:nth-child(1){
        margin-right: 2%;
    }
    .worktime>article:first-child>h1:nth-child(2){
        margin-left: 2%;
    }
    .worktime>article:nth-child(2){
        grid-column: 1/-1;
        grid-row: 3;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 0%;
        border: var(--border);
    }
    .worktime h3{
        text-align: center;
    }
    .worktime p{
        text-align: center;
    }
        
}
/* ANIMATIONS */
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes erase{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(-50%);
    }
}


.services_card.active{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px auto;
}
.haircut.active{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}
.treatments.active{
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}
.color.active{
    width: 100%;
    grid-column: 3;
    grid-row: 1;
}
.services_card_sect.active.selected{
    background: rgba(38, 35, 4, 0.3);
}
.services_card_sect.active>article{
    grid-column: 1/-1;
    padding: 0%;
    border: none;
}
.halist_prices>article>hs1, .halist_prices>article>hs10, .halist_prices>article>hs11, .trlist_prices>article>hs2, .trlist_prices>article>hs20, .trlist_prices>article>hs22, .colist_prices>article>hs3, .colist_prices>article>hs33{
    display: block;
    border: var(--border);
}
.halist_prices>article, .trlist_prices>article,.colist_prices>article{
    margin: 0% auto;
}
.halist_prices, .trlist_prices, .colist_prices{
    grid-column: 1/6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-row: 2;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
    border: var(--border);
}
.haircut.services_card_sect.active{
    border-top-left-radius: 15px;
}
.treatments.services_card_sect.active{
    border-radius: 0px;
}
.color.services_card_sect.active{
    border-top-right-radius: 15px;
}
.services_card_sect.active{
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.4);
}
section>.list_prices{
    display: none;
    padding: 8% 0%;
}

@media screen and (max-width: 550px) {
    a1{
        text-decoration: none;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        padding: 2% 5%;
        /* text-transform:uppercase; */
        background: var(--color05);
    }
    .services_card_sect>article>a1{
        margin: 3% auto 1% auto;
        padding: 3%;
    }
    h3{
        text-transform: uppercase;
        padding-bottom: 1%;
        border: var(--border);
    }
    p1{
        display: block;
        padding-bottom: 1%;
    }
}

/* footer */
footer{
    grid-column: 1/-1;
    grid-row: 6;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.7);
    border-top: var(--border-card);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
    margin: 0% auto;
}
footer>*{
    border: var(--border);
}
.contactme{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0% auto;
    border: var(--border);
}
footer h1{
    text-transform: none;
    margin: 1.8rem;
}
footer h3{
    text-transform: none;
}
.mapslink{
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    margin: auto;
    width: fit-content;
    font-size: 1.125rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 2% 4%;
    text-align: center;
    background: var(--color04);
    border: 1px solid var(--color-white-decor--card);
}
.mapslink:hover{
    background: var(--color05);
}
.contactme>h1, .socialslinks *{
    margin-bottom: 1.8rem;
}
footer p:last-child{
    margin-bottom: 0%;
}
.socials{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: center;
    border: var(--border);
}

/* icons socials */
.fa-instagram, .fa-facebook{
    margin: auto 2% 0% 0%;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-white);
}
.treatwell_link{
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-white);
    text-decoration-line: none;
    font-size: 1.6rem;
    margin: auto 0% 0% 0%;
}
@media screen and (min-width: 550px) {
    .contactme{
        display: flex;
        width: 100%;
        flex-direction: row;
        max-width: var(--maxwidth);
        margin: 0% auto;
        border: var(--border);
    }
    .contactme>h1{
        flex: 1 0 67%;
    }
    .contactme>section{
        flex: 1 0 33%;
    }
    
}
/* slider */
.swiper{
    display: flex;
    flex: auto;
    height: auto;
    width: 100%;
    margin: 2% 0%;
    border: var(--border);
}
/* first slider */
.slide_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide_1>h6{
    text-transform: none;
    text-align: center;
    word-spacing: 100vh;
}
/* second slider */
.slide>.slide_2{
    flex-direction: column-reverse;
}
/* third slider */
.happy_clienteles{
    background-image: url('/css/img/clientblonde.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 70%;
    min-width: 100%;
    margin: auto;
    border: var(--border);
    border-radius: 30px;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* counting all margins */
    width: auto;
    height: 100%;
    max-width: var(--maxwidth);
    padding: 0% var(--padding);
    margin: 0% auto;
    border: var(--border);
}
#swiper-button-next{
    /* TODO */
}
#swiper-button-prev{
    /* TODO */
}
/* decor */
:root {
    --swiper-theme-color: var(--color-white-decor);
}

#changeword{
    opacity: 1;
    color: rgba(100, 193, 168, 0.954);
}

/* whatsapp */
/* for desktop */
.whatsapp_float {
	position:fixed;
	width:auto;
    min-width: 2em;
	height:auto;
    min-height: 2em;
    bottom: 4%;
    right: 4%;
	background-color: var(--color01);
	color:var(--color-white-decor);
	border-radius:50px;
	text-align:center;
    font-size:38px;
	box-shadow: 1px 1px 2px var(--color-white-decor);
    z-index:100;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.fa-whatsapp {
    margin: auto;
}

/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
         margin-top: auto;
         border: none;
     }
    .whatsapp_float {
        width:auto;
        min-width: 2em;
        height:auto;
        min-height: 2em;
        bottom: 2%;
        right: 2%;
        font-size: 34px;
    }
}

/* TODO

 if(screen.width > 500){
    servicescard.style.padding = '1% 0%';
    servicescard.style.display = 'grid';
    servicescard.style.gridTemplateColumns = 'repeat(3, 1fr)';
    servicescard.style.gridTemplateRows = '70px auto';
    servicescard.style.background = 'none';  
  }
 */

.tittle_section{
    padding: 8% var(--padding) 4%;
}
/* portfolio */
.portfolio{
     background: rgba(0, 0, 0, 0.4);
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
     border-top: var(--border-card);
}
.portfolio img{
    height: auto;
    width: 10rem;
    border-radius: 10px;
    margin: 2%;
}
.portfolio_wrapper{
    display: flex;
    flex-direction: row;
    padding: 5% var(--padding);
    border: var(--border);

    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.portfolio_wrapper::-webkit-scrollbar {
    display: none;
}
.columflexgrid_portfolio{
    margin: 2%;
}
/* reviews */
.reviews{
    background: rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: var(--border-card);
}
.textimonials_wrapper{
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory;  
    scroll-padding: 0 var(--padding) 0 var(--padding);

    padding: 2% 0% 10% var(--padding);
    border: var(--border);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.textimonials_wrapper::-webkit-scrollbar {
    display: none;
}
.columflexgrid_reviews{
    flex: 1 0 90%;
    margin: auto;
}
.card_testimonials{
    scroll-snap-align: start;

    text-align: center;
    border-radius: 30px;
    padding: 4%;
    background: var(--color02);
    margin: auto 5% auto 0%;
}
.card_testimonials:not(:last-child){
    margin-bottom: 1rem;
}
/* intro */
.intro{
    grid-column: 1/-1;
    grid-row: 2;

    max-width: var(--maxwidth);

    margin: 0% auto;
    padding: 0% var(--padding);

    position: relative;

    display: flex;
    flex-direction: column;
}
.intro>section{
    margin: 0%;
}
.intro article{
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}
.intro article:last-child{
    margin-bottom: 0%;
}
.intro article *{
    margin: 0% auto;
    text-align: center;
}
.intro h1{
    text-transform: none;
    border: var(--border);
    padding: 8% 0% 5% 0%;
}
.presentation_card{
    padding: 8%;
    background: var(--color03);
    border-radius: 40px;
    line-height: 1.7rem;
    border: 2px solid;
    border: var(--border-card);
    /* backdrop-filter: blur(140px); */
}
.intro_img{
    background-image: url('/css/img/jonasport.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 15%;
    opacity: 0.9;
    border-radius: 50%;
    padding-top: 80%;
    width: 80%;
    margin-bottom: 8% !important;
    border: var(--border-card);
    /* border: var(--border); */
}
#more{
    display: none;
}

.aboutme{
    background: var(--color03);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 8%;
    border: var(--border-card);
}
.aboutme p, .atsalon p{
    text-align: left;
}
.atsalon{
    background: var(--color03);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border: var(--border-card);
}
.salon_swiper{
    border-top-right-radius: 40px;
    height: auto;
    width: 100%;
}
.atsalon_text{
    padding:  0% 8% 8% 8%;
}
.atsalon_text *{
    text-align: center;
}
.salon_slide img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* partners */
.partners{
    background: var(--color03);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border: var(--border-card);

    display: flex;
    flex-direction: column;
    padding: var(--padding) var(--padding) 10%;
}
.partners h1{
    text-transform: none;
    padding: 8% 0% 5% 0%;
    margin: auto;
    border: var(--border);
}
.partners p{
    width: 80%;
    text-transform: none;
    margin: auto;
    text-align: center;
    border: var(--border);
}
.partners_images{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.partners_img{
    margin: 2rem auto auto;

    width: 55%;
    height: auto;

    border: var(--border);
}
.partners_img:nth-child(2){
    width: 20%;
}
/* services */
.services{
    display: flex;
    flex-direction: column;

    max-width: var(--maxwidth);

    margin: 0% auto;
    padding: 0% var(--padding);
}
.services h1{
    border: var(--border);
    padding: 8% 0% 5% 0%;
}

.services_wrapper{
    display: flex;
    flex-direction: column;
}
.services_card{
    display: flex;
    flex-direction: row;
    width: 100%;

    height: auto;
    width: auto;

    border-radius: 30px;
    padding: 4%;
    border: var(--border-card);

    background: var(--color03);
}
.services_card *{
    margin: auto;
}
.services_card article{
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.services_card:nth-child(2){
    flex-direction: row-reverse;
}
.services section:not(:last-child){
    margin-bottom: 1.3rem;
}
.div_img{
    flex: 1 0 40%;
    border: var(--border);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    margin: 1%;
    height: auto;
    min-height: 9rem;

    border-radius: 30px;
    background-color: var(--color03);
}
.article_img_haircut{
    grid-column: 1;
    background-image: url('/css/svg/haircut.svg');
}
.article_img_treatment{
    grid-column: 1;
    background-image: url('/css/svg/color.svg');
}
.article_img_color{
    grid-column: 1;
    background-image: url('/css/svg/treatments.svg');
}
.button-menu{

    display: flex;
    width: fit-content;
    margin: auto;

    color: var(--color-white);
    text-decoration: none;
    font-family: 'Gentium Basic', serif;
    font-size: 1.125rem;
    border-radius: 980px;
    padding: 5%;
    background: var(--color05);
    text-align: center;
    cursor: pointer;
    border: var(--border-card);
    margin-bottom: 1.3rem;
}
.button-menu::after{
    content: 'Show Menu Prices';
}
#pricemenu:checked ~ .button-menu::after{
    content: 'Hide Menu Prices';
}
#pricemenu:not(:checked) ~ .list-prices-wrapper{
    display: none;
}
#pricemenu{
    position: absolute;
    left: -100px;
    visibility: hidden;
}
.list-prices-wrapper{
    display: flex;
    flex-direction: row;
    padding: 10%;
    border: var(--border-card);

    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;

    margin-bottom: 1.3rem;

    overflow: auto;
    scroll-snap-type: x mandatory;  
    scroll-padding: 0 10%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.list-prices-wrapper::-webkit-scrollbar {
    display: none;
}
.list-prices{
    flex: 1 0 75%;
    scroll-snap-align: start;
    margin: auto;
}
.list-prices h3{
    margin-left: -8px;
}
.list-prices p1{
    font-style: italic;
}
.list-prices p{
    margin-bottom: 0.5rem;
}
