@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
:root {
    /* margins */
    /* 320px -> 1680px */
    /* 19px -> 300px */
    /* --margin: clamp(1.188rem, -3.2384rem + 22.1318vw, 20rem); */
    --maxwidth: 940px;
    --padding: 4%;
    /* border */
    --show: 1px;
    --border: var(--show) solid #ff4ee292;
    --border-section: var(--show) solid #ffc3f5;
    /* colors */
    --color-white: rgba(255, 255, 255, 0.8);
    --color-white-decor: rgba(255, 255, 255, 0.7);
    --bg: #FFFF;
    /* services decor */
    --services-card-res: rgba(4, 38, 15, 0.3);
    --treatments-card-res: rgba(38, 35, 4, 0.3);
    --color-white-decor--card: rgba(255, 255, 255, 0.23);
}
@media screen and (max-width: 550px) {
    :root {
        --padding: 6%;
    }
}
body{
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('/css/img/background.jpg'); */
    background: linear-gradient(180deg, #0E4951 0%, rgba(14, 73, 81, 0) 100%), linear-gradient(140.4deg, #0E4951 20.13%, rgba(14, 73, 81, 0) 77.37%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(252.44deg, #2FBFA5 0%, #21777A 100%), linear-gradient(0deg, #0E4951, #0E4951);    background-attachment: fixed;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
/* animation */
.diss{
    display: none;
}
/* Principal Titles */
h1{
    color: var(--color-white-decor);
    font-weight: 600;
    font-family: 'Della Respira', serif;
    font-size: clamp(2rem, 1.0710rem + 4.6452vw, 3.8rem);
    letter-spacing: clamp(0rem, -0.1935rem + 0.9677vw, 0.375rem);
    /* CLAMP 940px*/
    /* font-size: 3.8rem; */
    /* font-size: clamp(2rem, 1.4941rem + 2.5294vw, 4.15rem); */
    /* CLAMP 1680px*/
    /* font-size: 4.15rem; */
    /* letter-spacing: 6px; */
    /* CLAMP 320px*/
    /* font-size: 2rem; */
    /* letter-spacing: 4px; */
    text-transform: uppercase;
    text-align: center;
}
p{
    color: var(--color-white);
    font-family: 'Urbanist', sans-serif;
    font-size: clamp(1.063rem, 1.0026rem + 0.3019vw, 1.18rem);
    /* CLAMP 940px*/
    /* font-size: 1.18rem; */
    /* font-size: clamp(1.063rem, 1.0190rem + 0.2200vw, 1.25rem); */
    /* CLAMP 1680px*/
    /* font-size: 1.25rem; */
    /* CLAMP 320px*/
    /* font-size: 1.063rem; */
    font-weight: 300;
    border: var(--border);
}
.card_testimonials>p{
    font-size: clamp(1rem, 0.9706rem + 0.1471vw, 1.125rem);
    letter-spacing: 0.2px;
    /* CLAMP 940px*/

    /* CLAMP 1680px*/
    /* font-size: 1.125rem; */
    /* CLAMP 320px*/
    /* font-size: 1rem; */
}
.card_testimonials>h3{
    font-size: clamp(1.063rem, 1.0190rem + 0.2200vw, 1.25rem);
    /* CLAMP 1680px*/
    /* font-size: 1.25rem; */
    /* CLAMP 320px*/
    /* font-size: 1.063rem; */
}
p1{
    display: block;
    color: var(--color-white);
    font-family: 'Urbanist', sans-serif;
    font-size: clamp(1.063rem, 1.0026rem + 0.3019vw, 1.18rem);
    letter-spacing: 0.5px;
    /* CLAMP 940px*/
    /* font-size: 1.18rem; */
    /* font-size: clamp(1.063rem, 1.0190rem + 0.2200vw, 1.25rem);     */
    /* CLAMP 1680px*/
    /* font-size: 1.25rem; */
    /* CLAMP 320px*/
    /* font-size: 1.063rem; */
    font-weight: 200; 
    margin-top: 1%;
    margin-bottom: 1%;
    border: var(--border);
}

/* tittles cards */
h3{
    color: var(--color-white);
    font-family: 'Urbanist', sans-serif;
    font-size: clamp(1.125rem, 0.9635rem + 0.8077vw, 1.438rem);
    letter-spacing: 1px;
    /* CLAMP 940px*/
    /* font-size: clamp(1.125rem, 1.0514rem + 0.3682vw, 1.438rem); */
    /* CLAMP 1680px*/
    /* font-size: 1.438rem; */
    /* CLAMP 320px*/
    /* font-size: 1.125rem; */
    font-weight: 500;
    text-transform: uppercase;
    padding: 0%;
    border: var(--border);
}
h6{
    /* to be clamped */
    color: var(--color-white);
    font-family: 'La Belle Aurore', cursive;
    font-size: clamp(1.875rem, 1.6985rem + 0.8824vw, 2.625rem);    /* CLAMP 1680px*/
    /* CLAMP 1680px*/
    /* font-size: 2.625rem; */
    /* CLAMP 320px*/
    /* font-size: 1.875rem; */
    letter-spacing: 1px;
    font-weight: 100;
    text-align: center;
    margin-top: 0%;
    margin-bottom: auto;
}
.slide_1>h6{
    font-size: clamp(3.125rem, 2.2426rem + 4.4118vw, 6.875rem);
    /* CLAMP 1680px*/
    /* font-size: 6.875rem; */
    /* CLAMP 320px*/
    /* font-size: 3.125rem; */
    margin: 0%;
}

a1{
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    /* CLAMP 1680px*/
    font-size: 1.125rem;
    /* CLAMP 375px*/
    /* font-size: 16px; */
    /* font-size: 16px; */
    border-radius: 14px;
    padding: 2% 4%;
    /* CLAMP */
    background: rgba(255, 255, 255, 0.187);
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--color-white-decor--card);
}
a1:hover{
    background: rgba(255, 255, 255, 0.15);
}

/* Displaying */
main{
    grid-column: 1 / -1;
    grid-row: 1;
    height: 100vh;
    position: relative;
    min-height: 500px;
    /* bg */
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('/css/img/background.jpg');
    background-position: 100% 30%;
    background-size: cover;
    /* positioning */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: var(--border);

}
.logo{
    background-image: url(/css/img/StyleBjonasLogoFei.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 80%;
    position: relative;
    height: 80px;
    margin-top: 2%;
}
main img{
    min-width: 180px;
    display: flex;
    margin: 5% auto 0%;
    border: var(--border);
    flex: 0;
}
main a{
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    text-align: center;
    /*center vertically*/
    position: relative;
    top: 50%;
    transform: translateY(-20%);
    
}

main a h2{
    display: block;
    background:  rgba(140, 116, 23, 0.57);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);
    border-radius: 60px;
    width: fit-content;
    height: fit-content;
    padding: 5% 10%;
    text-align: center;
    border: linear-gradient(96.41deg, #B69D40 0%, rgba(57, 76, 78, 0.5) 100%);
}


/* intro */
.intro{
    grid-column: 1/-1;
    grid-row: 2;
    height: 60vh;
    max-width: var(--maxwidth);
    margin: 0% auto;
    padding: 0% var(--padding);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10%;
    /* decor */
    background: linear-gradient(360deg, rgba(14, 73, 81, 0) 0%, rgba(14, 73, 81, 0.411458) 46.65%, #0E4951 88.4%);
    box-shadow: 0px 0px 8px rgba(54, 76, 79, 0.8);
    backdrop-filter: blur(1px);
    border: 1px solid linear-gradient(156.79deg, rgba(214, 214, 214, 0.67) 0%, rgba(125, 125, 125, 0.62) 100%);
}
.intro div{
    /* fonts */
    padding: 10% 0%;
}
.intro_img{
    grid-column: 1;
    background-image: url('/css/img/SquareJonas.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 50%;
    border: var(--border);
    border-radius: 50%;

}
/* services */
.services{
    /* positioning */
    grid-column: 2;
    grid-row: 3;
    height: auto;
    width: auto;
    max-width: var(--maxwidth);
    padding: 0% var(--padding);
    margin: 0% auto;
    /* grid */
    display: grid;
    grid-template-columns:  var(--margin) 1fr 1fr 1fr var(--margin);
    grid-template-rows: auto;
    /* useful */
    /* background: linear-gradient(228.04deg, rgba(24, 102, 113, 0.4) 26.33%, rgba(51, 150, 137, 0.7) 92.46%),rgba(0, 0, 0, 0.4);    background: linear-gradient(180deg, rgba(24, 102, 113, 0.8) 0%, #339689 100%), #000000; */
    background: transparent;
    border: var(--border);
}

.services>h1{
    border: var(--border);
    grid-column: 2/-2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0% auto auto 0%;
    padding-top: 8%;
}
.services>h3{
    margin: 0;
    border: var(--border);
}
.services_card{
    grid-column: 2/-2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 650px;
    justify-content: space-around;
    border: var(--border);
    margin: 0% 0% 5% 0%;
}
.services_card>section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.services_card_sect>article{
    grid-column: 2 / 4;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    margin: auto 0%;
    border: var(--border);
}
.services_card_sect>article>a1{
    margin-top: 1%;
    width: fit-content;
}
.active>article>h3:hover{
    cursor: pointer;
}
.haircut, .treatments, .color{
    width: 85%;
}
.haircut{
    margin-right: auto;
    margin-left: 0%;
}
.treatments{
    margin-left: auto;
    margin-right: auto;
}
.color{
    margin-left: auto;
    margin-right: 0%;
}
.div_img{
    border: var(--border);
    background: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 55% 0% 0% 0%;
    border-right: 1px solid var(--color-white-decor);
    margin: 0%;
}

.article_img_haircut{
    grid-column: 1;
    background-image: url('/css/svg/haircut.svg');
}
.article_img_treatment{
    grid-column: 1;
    background-image: url('/css/svg/color.svg');
}
.article_img_color{
    grid-column: 1;
    background-image: url('/css/svg/treatments.svg');
}
#serv_back{
    background: url('/css/svg/back.svg'), rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 1em;
    width: 1em;
    order: 4;
    grid-row: 1;
    grid-column: 3;
    margin: 0% 0% auto auto;
    border: var(--border);
}
@media screen and (max-width: 550px) {
    .services{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    
        height: auto;
        min-height: 100vh;
        background: transparent;
        margin: 2% 0% 5% 0%;
    }
    .services>h1{
        border: var(--border);
        grid-column: 1/-1;
        grid-row: 1;
        padding: 10% 0% 5% 0%;
        margin: 0%;

        display: flex;
        transform: none;  
    }
    .services_card{
        grid-column: 1/-1;

        display: flex;
        flex-direction: column-reverse;
        border: var(--border);
        margin: 0%;
    }
    .services_card.active>section:nth-child(4) {
        margin: 0%;
    }
    .services_card_sect{
        display: flex;
        flex-direction: column;

        width: auto;

        border-radius: 40px;
        padding: 8%;
        border: 1px solid var(--color-white-decor--card);

        background: var(--services-card-res);
    }
    .services_card_sect>article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height:auto;
        width: auto;
        flex: 1 1 30%;

        padding-left: 0%;
        border-radius: 40px;
    }
    .haircut, .treatments, .color{
        margin: 0%;
    }
    .haircut{
        order: 3;
        margin: 0% auto;
    }
    .treatments{
        order: 2;
        margin: 0% auto;
    }
    .color{
        order: 1;
    }
    .services_card>section{
        display: flex;
        flex-direction: column;
    }
    .services_card>section:nth-child(4){
        margin: 1rem 0%;
    }
    .article_img_haircut, .article_img_treatment, .article_img_color{
        flex: 1 1;
        margin-bottom: 6%;
    }
    .div_img{
        background-position: center;
        border-right: none;
        padding: 60% 0% 0% 0%;
        width: auto;
    }
    .services p1, .services h3, .services a1{
        text-align: center;
    }
}

/* animations */
a2{
    display: none;
    cursor: pointer;
    grid-column: 10;
    grid-row: 1;
    z-index: 10;
    margin: auto;
    margin-top: 0%;
    margin-right: 0%;
    padding: 10px;
    border-radius: 20px;
}
/* seasonal promotions */
.season_promotions{
    grid-column: 2/12;
    grid-row: 5;
    display: grid;
    grid-template-columns: var(--margin) 1fr 1fr 1fr var(--margin);
    grid-template-rows: auto;
    height: auto;
    min-height: 80vh;
    max-width: var(--maxwidth);
    padding: 0% var(--padding);
    margin: 0% auto 5% auto;
    border: var(--border);
}
.season_promotions>h1{
    grid-column: 2/-2;
    grid-row: 1;
    height: fit-content;
    margin: auto;
    border: var(--border);
}
.season_promotions>h3{
    margin: 0% 6% 0% 6%;
    border: var(--border);
}
.season_promotions>section{
    grid-column: 2/-2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    gap: 1%;
    border: var(--border);
}
.card{
    /* grid */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1fr;
    height: auto;
    min-height: 30vh;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    /* decor */
    border: 1px solid linear-gradient(156.79deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.33) 100%);
}
.card:nth-child(1){
    border: 1px solid var(--color-white-decor--card);
}
.card:nth-child(2){
    border: 1px solid var(--color-white-decor--card);
}
.card:nth-child(3){
    border: 1px solid var(--color-white-decor--card);
}
.card>section>h3{
    text-align: center;
    margin: 0% 6% 1% 6%;
}
.card>section>p{
    text-align: left;
    margin: 0% 6% 0% 6%;
}
.card>section{
    display: flex;
    flex-direction: column;
    margin: 0% 6% 6% 6%;
}
.card_img_flam,.card_img_rehab, .card_img_kera{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40%;
    min-width: 1fr;
    margin: 6% 6% 6% 6%;
    border: var(--border);
}
.card_img_flam{
    background-image: url('/css/svg/balayage.svg');
}
.card_img_rehab{
    background-image: url('/css/svg/rehab.svg');
}
.card_img_kera{
    background-image: url('/css/svg/keratina.svg');
}
@media screen and (max-width: 1300px) {
    .season_promotions>section{
        display: flex;
        flex-direction: column;
        gap: 0%;
        border: var(--border);
    }
    .card{
        flex-direction: row;
        justify-content: center;
        height: auto;
        min-height: 25vh;
        margin: 0%;
        display: flex;
    }
    .card:nth-child(1){
        /* margin-top: 6%; */
    }
    .card:nth-child(2){
        /* margin: 3% 0%; */
    }
    .card:nth-child(3){
        /* margin-bottom: 6%; */
    }
    .card_img_flam,.card_img_rehab, .card_img_kera{
        flex: 1 0 45%;
        background-size: 100% 80%;
        background-repeat: no-repeat;
        background-position: center;
        min-height: auto;
        padding-top: 25%;
        min-width: 25%;
        margin: 0%;
        border: var(--border);
    }
    .card>section{
        display: flex;
        flex: 1 0 55%;
        flex-direction: column;
        margin: auto;
        width: 60%;
    }
    .card>section>h3{
        text-align: left;
        margin: 0% 2% 0% 2%;
    }
    .card>section>p{
        margin: 0% 2% 0% 2%;
    }
    .season_promotions>h1{
        margin-top: 12%;
        border: var(--border);
    }
}
@media screen and (max-width: 550px) {
    .season_promotions{
        padding: 5% var(--padding);
        min-height: 100vh;
    }
    .season_promotions section{
        flex-direction: column;
        margin-top: 5%;
    }
    .season_promotions>section{
        background: transparent;
    }
    .card{
        /* grid */
        display: flex;
        grid-column: 2/5;
        flex-direction: column;
        gap: 3%;
        height:auto;
        width: auto;
        /* decor */
        text-align: left;
        padding: 5% 0%;
        background: var(--treatments-card-res);
        border-radius: 40px;
        /* changes */
        padding: 8%;
    }
    .card>section{
        display: flex;
        justify-content:center;
        flex: 1 0 30%;
        width: 100%;
        margin: auto;
    }
    .card>section>h3{
        border: var(--border);
        margin: 0%;
        text-align: center;
    }
    .card>section>p{
        border: var(--border);
        margin: 0%;
        text-align: center;
    }
    .card_img_flam,.card_img_rehab, .card_img_kera{
        flex: 1 1 70%;
        border: var(--border);
        background-size: 100% 100%;
        width: auto;
        padding: 55% 0% 0% 0%;
        margin: 0%;
    }
    .season_promotions>h1{
        text-align: center;
        margin: 0%;
        padding: 10% 0% 5% 0%;
    }
    .card:nth-child(2){
        margin: 1rem 0%;
        border-left: none;
        border-right: none;
    }
    .season_promotions>section{
        grid-row: 3;
    }
}
/* work time */
.wt_bg{
    background: rgba(0, 0, 0, 0.6);
}
.worktime{
    display: grid;
    grid-column: 1/-1;
    max-width: var(--maxwidth);
    padding: clamp(90px,15%,130px) var(--padding);
    margin: 0% auto;
    grid-row: 4;
    /* template */
    grid-template-columns: 50% 50%;
    height: auto;
    /* decor */
    border: var(--border);
}
.worktime h3{
    text-align: left;
    margin-bottom: 1%;
}
.worktime p{
    text-align: left;
}
.worktime>article:first-child{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin: auto 0% auto 0%;
    padding-right: 5%;
    border-right: 1px solid var(--color-white-decor--card);
}
.worktime>article:first-child>h1{
    text-align: right;
}
.worktime>article:first-child>article{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 3%;
    border: var(--border);
}
.worktime>article:last-child{
    grid-column: 2;
    display: flex;
    justify-content: start;
    padding-left: 5%;
    border: var(--border);
}
.worktime>article:last-child>ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 550px) {
    .worktime{
        /* template */
        grid-template-columns: 1fr;
    }
    .worktime>article:first-child{
        grid-row: 1;
        grid-column: 1/-1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0%;
        margin: auto auto 4% auto;
        border-right: none;
        border: var(--border);
    }
    .worktime>article:first-child>h1:nth-child(1){
        margin-right: 2%;
    }
    .worktime>article:first-child>h1:nth-child(2){
        margin-left: 2%;
    }
    .worktime>article:nth-child(2){
        grid-column: 1/-1;
        grid-row: 3;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left: 0%;
        border: var(--border);
    }
    .worktime h3{
        text-align: center;
    }
    .worktime p{
        text-align: center;
    }
        
}
/* ANIMATIONS */
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes erase{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(-50%);
    }
}
/* list prices */

#haircut_list_prices{
    padding: 18% 0%;
}
/* fonts */
hs1, hs11, hs2, hs20, hs22, hs3, hs33{
    font-family: 'Urbanist', sans-serif;
    text-align: left;
    color: var(--color-white);
}
hs1, hs2, hs3{
    color: var(--color-white);
    font-family: 'Urbanist', sans-serif;
    font-size: clamp(1rem, 1.8vw, 1.4rem); 
    font-weight: 400;
    border: var(--border);
}
hs11, hs22, hs33{
    color: var(--color-white);
    font-family: 'Urbanist', sans-serif;
    font-size: clamp(0.9rem, 1.8vw, 1.4rem); 
    font-style: italic;
    font-weight: 200;
    border: var(--border);
}
hs10, hs20, hs30{
    color: var(--color-white);
    font-family: 'Della Respira', serif;
    font-size: clamp(1.05rem, 1.8vw, 1.4rem); 
    font-weight: 400;
    margin-left: -6%;
    margin-bottom: 3%;
    border: var(--border);
}
hs1{
    display: none;
}
hs10{
    display: none;
}
hs11{
    display: none;
    margin-bottom: 6%;
}
hs20{
    display: none;
}
hs2{
    display: none;
}
hs22{
    display: none;
    margin-bottom: 6%;
}
hs3{
    display: none;
}
hs33{
    display: none;
    margin-bottom: 6%;
}
/*  */

    /* if (screen.width > 650) { // If media query matches
        servicescard.style.display = 'grid';
        servicescard.style.gridTemplateColumns = '1fr 1fr 1fr';
        servicescard.style.gridTemplateRows = '70px auto';
        haircutgrid.style.width = '100%';
        haircutgrid.style.borderTopLeftRadius = '15px';
        haircutgrid.style.borderTopRightRadius = 0;
        treatmentsgrid.style.width = '100%';
        colorgrid.style.width = '100%';
        colorgrid.style.borderTopRightRadius = '15px';
      } */
.services_card.active{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px auto;
}
.haircut.active{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}
.treatments.active{
    width: 100%;
    grid-column: 2;
    grid-row: 1;
}
.color.active{
    width: 100%;
    grid-column: 3;
    grid-row: 1;
}
.services_card_sect.active.selected{
    background: rgba(38, 35, 4, 0.3);
}
.services_card_sect.active>article{
    grid-column: 1/-1;
    padding: 0%;
    border: none;
}
.halist_prices>article>hs1, .halist_prices>article>hs10, .halist_prices>article>hs11, .trlist_prices>article>hs2, .trlist_prices>article>hs20, .trlist_prices>article>hs22, .colist_prices>article>hs3, .colist_prices>article>hs33{
    display: block;
    border: var(--border);
}
.halist_prices>article, .trlist_prices>article,.colist_prices>article{
    margin: 0% auto;
}
.halist_prices, .trlist_prices, .colist_prices{
    grid-column: 1/6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-row: 2;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.4);
    border: var(--border);
}
.haircut.services_card_sect.active{
    border-top-left-radius: 15px;
}
.treatments.services_card_sect.active{
    border-radius: 0px;
}
.color.services_card_sect.active{
    border-top-right-radius: 15px;
}
.services_card_sect.active{
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.4);
}
section>.list_prices{
    display: none;
    padding: 8% 0%;
}
@media screen and (max-width: 550px) {
    .haircut.active{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: none;
    }
    .treatments.services_card_sect.active{
        border-radius: 0px;
        border: none;
    }
    .color.services_card_sect.active{
        border-radius: 0px;
        border: none;
    }
    .services_card_sect.active{
        padding: 5%;
        margin: 0%;
        width: 90%;
    }
    .services_card.active{
        display: flex;
        flex-direction: column-reverse;
    }
    .treatments.active, .color.active{
        border-radius: 0px;
    }
    .services.active{
        grid-template-columns:  var(--margin) 1fr 1fr 1fr var(--margin);
        grid-template-rows: auto;
    }
    .halist_prices, .trlist_prices, .colist_prices{
        grid-column: 1/-1;
        grid-row: 4;
    }
}
@media screen and (max-width: 550px) {
    a1{
        text-decoration: none;
        border-radius: 980px;
        display: flex;
        justify-content: center;
        padding: 2% 5%;
        /* text-transform:uppercase; */
        background: rgba(255, 255, 255, 0.2);
    }
    .services_card_sect>article>a1{
        margin: 3% auto 1% auto;
        padding: 3%;
    }
    h3{
        text-transform: uppercase;
        padding-bottom: 1%;
        border: var(--border);
    }
    p1{
        display: block;
        padding-bottom: 1%;
    }
}

/* footer */
footer{
    grid-column: 1/-1;
    grid-row: 6;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.7);
    border: var(--border);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
}
footer>*{
    border: var(--border);
}
footer>section{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: var(--maxwidth);
    margin: 0% auto;
    border: var(--border);
}
footer>section>h1{
    text-transform: none;
}
footer h3{
    text-transform: none;
}
.mapslink{
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    margin: auto;
    width: fit-content;
    font-size: 1.125rem;
    border-radius: 980px;
    cursor: pointer;
    padding: 2% 4%;
    text-align: center;
    background: rgba(255, 255, 255, 0.187);
    border: 1px solid var(--color-white-decor--card);
}
.mapslink:hover{
    background: rgba(255, 255, 255, 0.15);
}
.contactme{
    display: flex;
    gap: 1.5rem;
}
.socials{
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: center;
    border: var(--border);
}
/* icons socials */
.fa-instagram, .fa-facebook{
    margin: auto 2% 0% 0%;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--color-white);
}
.treatwell_link{
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-white);
    text-decoration-line: none;
    font-size: 1.6rem;
    margin: auto 0% 0% 0%;
}
/* slider */
.swiper{
    display: flex;
    flex: auto;
    height: auto;
    width: 100%;
    margin: 2% 0%;
    border: var(--border);
}
/* first slider */
.slide_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide_1>h6{
    text-transform: none;
    text-align: center;
    word-spacing: 100vh;
}
/* second slider */
.slide>.slide_2{
    flex-direction: column-reverse;
}
.card_testimonials{
    border-radius: 15px;
    padding: 3% 2.5%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
}
.card_testimonials:nth-child(1){
    margin-top: auto;
    margin-bottom: 0%;
}
.card_testimonials:nth-child(2){
    margin-top: 5%;
    margin-bottom: 5%;
}
.card_testimonials:nth-child(3){
    margin-top: 0%;
    margin-bottom: auto;
}
.starts_test{
    background-image: none;
}
/* third slider */
.happy_clienteles{
    background-image: url('/css/img/clientblonde.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 70%;
    min-width: 100%;
    margin: auto;
    border: var(--border);
    border-radius: 15px;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* counting all margins */
    width: auto;
    height: 100%;
    max-width: var(--maxwidth);
    padding: 0% var(--padding);
    margin: 0% auto;
    border: var(--border);
}
#swiper-button-next{
    /* TODO */
}
#swiper-button-prev{
    /* TODO */
}
/* decor */
:root {
    --swiper-theme-color: var(--color-white-decor);
}

#changeword{
    opacity: 1;
    color: rgba(100, 193, 168, 0.954);
}

/* whatsapp */
/* for desktop */
.whatsapp_float {
	position:fixed;
	width:auto;
    min-width: 2em;
	height:auto;
    min-height: 2em;
    bottom: 4%;
    right: 4%;
	background-color:#1e7162d9;
	color:var(--color-white-decor);
	border-radius:50px;
	text-align:center;
    font-size:38px;
	box-shadow: 1px 1px 2px var(--color-white-decor);
    z-index:100;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.fa-whatsapp {
    margin: auto;
}

/* for mobile */
@media screen and (max-width: 767px){
     .whatsapp-icon {
         margin-top: auto;
         border: none;
     }
    .whatsapp_float {
        width:auto;
        min-width: 2em;
        height:auto;
        min-height: 2em;
        bottom: 2%;
        right: 2%;
        font-size: 34px;
    }
}

/* TODO

 if(screen.width > 500){
    servicescard.style.padding = '1% 0%';
    servicescard.style.display = 'grid';
    servicescard.style.gridTemplateColumns = 'repeat(3, 1fr)';
    servicescard.style.gridTemplateRows = '70px auto';
    servicescard.style.background = 'none';  
  }
 */
